.card {
  width: 300px;
  padding: 15px;
  }

.border {
  border: 1px solid #ddd;
}

.shadow {
  box-shadow: 5px 5px 10px #ddd;
}

.infobox {
  margin-top: 15px;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.label {
  font-weight: bold;
}

.italicized {
  font-style: italic;
}
